USE [master]
GO
/****** Object:  Database [QLyDatXe]    Script Date: 6/18/2021 12:20:11 PM ******/
CREATE DATABASE [QLyDatXe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLyDatXe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLyDatXe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLyDatXe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLyDatXe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLyDatXe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLyDatXe]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Account] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Kind] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[Car_License_Plates] [varchar](50) NOT NULL,
	[Car_Seat_Amount] [int] NOT NULL,
	[Gar_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[Car_License_Plates] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[Driver_CMND] [varchar](50) NOT NULL,
	[Driver_License] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[Driver_CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gara]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gara](
	[Gara_Name] [nvarchar](50) NOT NULL,
	[Gara_Picture] [ntext] NULL,
	[Gara_Review] [float] NULL,
	[Bus_Res_number] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[Account] [varchar](50) NULL,
	[Phone] [nchar](11) NULL,
 CONSTRAINT [PK_Gara] PRIMARY KEY CLUSTERED 
(
	[Gara_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manage_Passenger_Care]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manage_Passenger_Care](
	[Staff_CMND] [varchar](50) NOT NULL,
	[Passenger_SDT] [varchar](50) NOT NULL,
	[Passenger_Care_Time] [datetime] NOT NULL,
 CONSTRAINT [PK_Manage_Passenger_Care] PRIMARY KEY CLUSTERED 
(
	[Staff_CMND] ASC,
	[Passenger_SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManageDrive]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManageDrive](
	[Drive_CMND] [varchar](50) NOT NULL,
	[Trip_No] [varchar](50) NOT NULL,
	[Car_License_Plates] [varchar](50) NOT NULL,
	[Drive_Date] [date] NOT NULL,
	[Drive_Hour] [time](7) NOT NULL,
 CONSTRAINT [PK_ManageDrive] PRIMARY KEY CLUSTERED 
(
	[Drive_CMND] ASC,
	[Trip_No] ASC,
	[Car_License_Plates] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManageReview]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManageReview](
	[Passenger_SDT] [varchar](50) NOT NULL,
	[Trip_No] [varchar](50) NOT NULL,
	[Staff_Attitude] [int] NOT NULL,
	[Service_Quality] [int] NOT NULL,
	[Safe] [int] NOT NULL,
	[Information] [int] NOT NULL,
	[Convenient] [int] NOT NULL,
	[Comment] [ntext] NULL,
	[Review_Time] [datetime] NOT NULL,
 CONSTRAINT [PK_ManageReview] PRIMARY KEY CLUSTERED 
(
	[Passenger_SDT] ASC,
	[Trip_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passenger]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passenger](
	[Passenger_SDT] [varchar](50) NOT NULL,
	[Passenger_First_Name] [nvarchar](50) NOT NULL,
	[Passenger_Last_Name] [nvarchar](50) NOT NULL,
	[Passenger_Email] [varchar](50) NULL,
	[Account] [varchar](50) NULL,
 CONSTRAINT [PK_Passenger] PRIMARY KEY CLUSTERED 
(
	[Passenger_SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passenger_Care]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passenger_Care](
	[Staff_CMND] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Passenger_Care] PRIMARY KEY CLUSTERED 
(
	[Staff_CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleOfGara]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleOfGara](
	[TripOfGara_no] [nchar](50) NOT NULL,
	[Gara_Name] [nvarchar](50) NOT NULL,
	[Schedule_no] [nchar](10) NOT NULL,
	[DayInWeek] [int] NOT NULL,
	[DepartTime] [time](7) NOT NULL,
	[TicketPrice] [money] NOT NULL,
	[AdminChecked] [bit] NULL,
 CONSTRAINT [PK_ScheduelOfGara] PRIMARY KEY CLUSTERED 
(
	[TripOfGara_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Staff_CMND] [varchar](50) NOT NULL,
	[Staff_First_Name] [nvarchar](50) NOT NULL,
	[Staff_Last_Name] [nvarchar](50) NOT NULL,
	[Staff_SDT] [varchar](50) NOT NULL,
	[Staff_Gender] [nvarchar](50) NULL,
	[Staff_Account] [varchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Staff_CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Station]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Station](
	[station_No] [nchar](10) NOT NULL,
	[station_Name] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Station] PRIMARY KEY CLUSTERED 
(
	[station_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Ticket_No] [int] NOT NULL,
	[Seat_Position] [nvarchar](5) NOT NULL,
	[Seat_Kind] [nvarchar](50) NOT NULL,
	[Is_Paid] [bit] NOT NULL,
	[Passenger_Note] [ntext] NULL,
	[Book_Time] [smalldatetime] NOT NULL,
	[Staff_CMND] [varchar](50) NULL,
	[Passenger_SDT] [varchar](50) NOT NULL,
	[Trip_No] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[Ticket_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TotalScheduels]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TotalScheduels](
	[SChedule_no] [nchar](10) NOT NULL,
	[BeginStation] [nchar](10) NOT NULL,
	[EndStation] [nchar](10) NOT NULL,
 CONSTRAINT [PK_TotalScheduels] PRIMARY KEY CLUSTERED 
(
	[SChedule_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trip]    Script Date: 6/18/2021 12:20:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trip](
	[Trip_No] [varchar](50) NOT NULL,
	[TripOfGara_no] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Trip] PRIMARY KEY CLUSTERED 
(
	[Trip_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Account], [Password], [Kind]) VALUES (N'anhpham', N'006', N'boss')
INSERT [dbo].[Account] ([Account], [Password], [Kind]) VALUES (N'boss', N'boss', N'boss')
INSERT [dbo].[Account] ([Account], [Password], [Kind]) VALUES (N'chungnguyen', N'024', N'staff')
GO
INSERT [dbo].[Car] ([Car_License_Plates], [Car_Seat_Amount], [Gar_Name]) VALUES (N'48A25896', 45, N'Hoàng Long')
INSERT [dbo].[Car] ([Car_License_Plates], [Car_Seat_Amount], [Gar_Name]) VALUES (N'48B11253', 35, N'Huệ Nghĩa')
INSERT [dbo].[Car] ([Car_License_Plates], [Car_Seat_Amount], [Gar_Name]) VALUES (N'50F69853', 45, N'Hoàng Long')
GO
INSERT [dbo].[Driver] ([Driver_CMND], [Driver_License]) VALUES (N'123456789', N'123456789999')
INSERT [dbo].[Driver] ([Driver_CMND], [Driver_License]) VALUES (N'245371111', N'111111111111')
INSERT [dbo].[Driver] ([Driver_CMND], [Driver_License]) VALUES (N'245372222', N'222222222222')
GO
INSERT [dbo].[Gara] ([Gara_Name], [Gara_Picture], [Gara_Review], [Bus_Res_number], [Active], [Account], [Phone]) VALUES (N'Hoàng Long', N'hoanglong.png', 2, N'2243421', 1, N'hoanglong', N'0922343656 ')
INSERT [dbo].[Gara] ([Gara_Name], [Gara_Picture], [Gara_Review], [Bus_Res_number], [Active], [Account], [Phone]) VALUES (N'Huệ Nghĩa', N'huenghia.jpg', 3, N'785494', 1, N'huenghia', N'0879754321 ')
INSERT [dbo].[Gara] ([Gara_Name], [Gara_Picture], [Gara_Review], [Bus_Res_number], [Active], [Account], [Phone]) VALUES (N'Hùng Cường', N'hungcuong.jpg', 2.5, N'2356567', 1, N'hungcuong', N'0785943999 ')
GO
INSERT [dbo].[Manage_Passenger_Care] ([Staff_CMND], [Passenger_SDT], [Passenger_Care_Time]) VALUES (N'245373333', N'0123456789', CAST(N'2021-06-13T16:00:00.000' AS DateTime))
INSERT [dbo].[Manage_Passenger_Care] ([Staff_CMND], [Passenger_SDT], [Passenger_Care_Time]) VALUES (N'245374444', N'0111111111', CAST(N'2021-06-19T08:00:00.000' AS DateTime))
INSERT [dbo].[Manage_Passenger_Care] ([Staff_CMND], [Passenger_SDT], [Passenger_Care_Time]) VALUES (N'245376263', N'0987654321', CAST(N'2021-06-13T10:00:00.000' AS DateTime))
GO
INSERT [dbo].[ManageDrive] ([Drive_CMND], [Trip_No], [Car_License_Plates], [Drive_Date], [Drive_Hour]) VALUES (N'245371111', N'0003', N'51F12345', CAST(N'2021-06-12' AS Date), CAST(N'18:00:00' AS Time))
INSERT [dbo].[ManageDrive] ([Drive_CMND], [Trip_No], [Car_License_Plates], [Drive_Date], [Drive_Hour]) VALUES (N'245371111', N'0004', N'51F12345', CAST(N'2021-05-12' AS Date), CAST(N'05:00:00' AS Time))
INSERT [dbo].[ManageDrive] ([Drive_CMND], [Trip_No], [Car_License_Plates], [Drive_Date], [Drive_Hour]) VALUES (N'245371111', N'0015', N'51F12345', CAST(N'2021-04-30' AS Date), CAST(N'04:00:00' AS Time))
GO
INSERT [dbo].[ManageReview] ([Passenger_SDT], [Trip_No], [Staff_Attitude], [Service_Quality], [Safe], [Information], [Convenient], [Comment], [Review_Time]) VALUES (N'0111111111', N'0003', 1, 1, 1, 1, 1, NULL, CAST(N'2021-06-20T00:00:00.000' AS DateTime))
INSERT [dbo].[ManageReview] ([Passenger_SDT], [Trip_No], [Staff_Attitude], [Service_Quality], [Safe], [Information], [Convenient], [Comment], [Review_Time]) VALUES (N'0123456789', N'0001', 1, 1, 1, 1, 1, NULL, CAST(N'2021-06-12T00:00:00.000' AS DateTime))
INSERT [dbo].[ManageReview] ([Passenger_SDT], [Trip_No], [Staff_Attitude], [Service_Quality], [Safe], [Information], [Convenient], [Comment], [Review_Time]) VALUES (N'0222222222', N'0004', 2, 2, 2, 2, 2, NULL, CAST(N'2021-06-21T06:00:00.000' AS DateTime))
GO
INSERT [dbo].[Passenger] ([Passenger_SDT], [Passenger_First_Name], [Passenger_Last_Name], [Passenger_Email], [Account]) VALUES (N'0111111111', N'Nguyễn', N'Tú', NULL, NULL)
INSERT [dbo].[Passenger] ([Passenger_SDT], [Passenger_First_Name], [Passenger_Last_Name], [Passenger_Email], [Account]) VALUES (N'0111122222', N'Nguyễn', N'Ánh', NULL, NULL)
INSERT [dbo].[Passenger] ([Passenger_SDT], [Passenger_First_Name], [Passenger_Last_Name], [Passenger_Email], [Account]) VALUES (N'0111133333', N'Nguyễn', N'Minh', NULL, NULL)
GO
INSERT [dbo].[Passenger_Care] ([Staff_CMND]) VALUES (N'245373333')
INSERT [dbo].[Passenger_Care] ([Staff_CMND]) VALUES (N'245374444')
INSERT [dbo].[Passenger_Care] ([Staff_CMND]) VALUES (N'245376263')
GO
INSERT [dbo].[ScheduleOfGara] ([TripOfGara_no], [Gara_Name], [Schedule_no], [DayInWeek], [DepartTime], [TicketPrice], [AdminChecked]) VALUES (N'HC001                                             ', N'Hùng Cường', N'050065    ', 5, CAST(N'18:00:00' AS Time), 200000.0000, 1)
INSERT [dbo].[ScheduleOfGara] ([TripOfGara_no], [Gara_Name], [Schedule_no], [DayInWeek], [DepartTime], [TicketPrice], [AdminChecked]) VALUES (N'HC002                                             ', N'Hùng Cường ', N'050065    ', 6, CAST(N'18:00:00' AS Time), 200000.0000, 1)
INSERT [dbo].[ScheduleOfGara] ([TripOfGara_no], [Gara_Name], [Schedule_no], [DayInWeek], [DepartTime], [TicketPrice], [AdminChecked]) VALUES (N'HC003                                             ', N'Hùng Cường ', N'050066    ', 5, CAST(N'18:00:00' AS Time), 220000.0000, 1)
GO
INSERT [dbo].[Staff] ([Staff_CMND], [Staff_First_Name], [Staff_Last_Name], [Staff_SDT], [Staff_Gender], [Staff_Account], [Active]) VALUES (N'123456789', N'Phan', N'Tùng', N'0999999999', N'Nam', NULL, 0)
INSERT [dbo].[Staff] ([Staff_CMND], [Staff_First_Name], [Staff_Last_Name], [Staff_SDT], [Staff_Gender], [Staff_Account], [Active]) VALUES (N'245371111', N'Nguyễn Tá', N'Huy', N'0121300468', N'Nam', N'huynguyen', 1)
INSERT [dbo].[Staff] ([Staff_CMND], [Staff_First_Name], [Staff_Last_Name], [Staff_SDT], [Staff_Gender], [Staff_Account], [Active]) VALUES (N'245372222', N'Huỳnh Phước', N'Sang', N'0933545121', N'Nam', N'sanghuynh', 1)
GO
INSERT [dbo].[Station] ([station_No], [station_Name]) VALUES (N'011       ', N'Cao Bằng                      ')
INSERT [dbo].[Station] ([station_No], [station_Name]) VALUES (N'012       ', N'Lạng Sơn                      ')
INSERT [dbo].[Station] ([station_No], [station_Name]) VALUES (N'014       ', N'Quảng Ninh                    ')
GO
INSERT [dbo].[Ticket] ([Ticket_No], [Seat_Position], [Seat_Kind], [Is_Paid], [Passenger_Note], [Book_Time], [Staff_CMND], [Passenger_SDT], [Trip_No]) VALUES (0, N'A1', N'Tầng dưới', 1, N'', CAST(N'2021-06-21T08:00:00' AS SmallDateTime), N'245376263', N'0111111111', N'29')
INSERT [dbo].[Ticket] ([Ticket_No], [Seat_Position], [Seat_Kind], [Is_Paid], [Passenger_Note], [Book_Time], [Staff_CMND], [Passenger_SDT], [Trip_No]) VALUES (1, N'A2', N'Tầng trên', 1, N'', CAST(N'2021-06-21T08:00:00' AS SmallDateTime), N'245376263', N'0111111111', N'29')
INSERT [dbo].[Ticket] ([Ticket_No], [Seat_Position], [Seat_Kind], [Is_Paid], [Passenger_Note], [Book_Time], [Staff_CMND], [Passenger_SDT], [Trip_No]) VALUES (2, N'A3', N'Tầng dưới', 1, NULL, CAST(N'2021-06-21T08:00:00' AS SmallDateTime), N'245376263', N'0999999999', N'29')
GO
INSERT [dbo].[TotalScheduels] ([SChedule_no], [BeginStation], [EndStation]) VALUES (N'029001    ', N'029       ', N'050       ')
INSERT [dbo].[TotalScheduels] ([SChedule_no], [BeginStation], [EndStation]) VALUES (N'029002    ', N'029       ', N'043       ')
INSERT [dbo].[TotalScheduels] ([SChedule_no], [BeginStation], [EndStation]) VALUES (N'029003    ', N'029       ', N'035       ')
GO
INSERT [dbo].[Trip] ([Trip_No], [TripOfGara_no]) VALUES (N'0001', N'HL001                                             ')
INSERT [dbo].[Trip] ([Trip_No], [TripOfGara_no]) VALUES (N'0002', N'PT001                                             ')
INSERT [dbo].[Trip] ([Trip_No], [TripOfGara_no]) VALUES (N'0003', N'TB001                                             ')
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_Gara1] FOREIGN KEY([Gar_Name])
REFERENCES [dbo].[Gara] ([Gara_Name])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_Gara1]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_Staff] FOREIGN KEY([Driver_CMND])
REFERENCES [dbo].[Staff] ([Staff_CMND])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_Staff]
GO
ALTER TABLE [dbo].[Gara]  WITH CHECK ADD  CONSTRAINT [FK_Gara_Account] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Account])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Gara] CHECK CONSTRAINT [FK_Gara_Account]
GO
ALTER TABLE [dbo].[Manage_Passenger_Care]  WITH CHECK ADD  CONSTRAINT [FK_Manage_Passenger_Care_Passenger] FOREIGN KEY([Passenger_SDT])
REFERENCES [dbo].[Passenger] ([Passenger_SDT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Manage_Passenger_Care] CHECK CONSTRAINT [FK_Manage_Passenger_Care_Passenger]
GO
ALTER TABLE [dbo].[Manage_Passenger_Care]  WITH CHECK ADD  CONSTRAINT [FK_Manage_Passenger_Care_Passenger_Care] FOREIGN KEY([Staff_CMND])
REFERENCES [dbo].[Passenger_Care] ([Staff_CMND])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Manage_Passenger_Care] CHECK CONSTRAINT [FK_Manage_Passenger_Care_Passenger_Care]
GO
ALTER TABLE [dbo].[ManageDrive]  WITH CHECK ADD  CONSTRAINT [FK_ManageDrive_Car] FOREIGN KEY([Car_License_Plates])
REFERENCES [dbo].[Car] ([Car_License_Plates])
GO
ALTER TABLE [dbo].[ManageDrive] CHECK CONSTRAINT [FK_ManageDrive_Car]
GO
ALTER TABLE [dbo].[ManageDrive]  WITH CHECK ADD  CONSTRAINT [FK_ManageDrive_Driver] FOREIGN KEY([Drive_CMND])
REFERENCES [dbo].[Driver] ([Driver_CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ManageDrive] CHECK CONSTRAINT [FK_ManageDrive_Driver]
GO
ALTER TABLE [dbo].[ManageDrive]  WITH CHECK ADD  CONSTRAINT [FK_ManageDrive_Trip] FOREIGN KEY([Trip_No])
REFERENCES [dbo].[Trip] ([Trip_No])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ManageDrive] CHECK CONSTRAINT [FK_ManageDrive_Trip]
GO
ALTER TABLE [dbo].[ManageReview]  WITH CHECK ADD  CONSTRAINT [FK_ManageReview_Passenger] FOREIGN KEY([Passenger_SDT])
REFERENCES [dbo].[Passenger] ([Passenger_SDT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ManageReview] CHECK CONSTRAINT [FK_ManageReview_Passenger]
GO
ALTER TABLE [dbo].[ManageReview]  WITH CHECK ADD  CONSTRAINT [FK_ManageReview_Trip] FOREIGN KEY([Trip_No])
REFERENCES [dbo].[Trip] ([Trip_No])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ManageReview] CHECK CONSTRAINT [FK_ManageReview_Trip]
GO
ALTER TABLE [dbo].[Passenger]  WITH CHECK ADD  CONSTRAINT [FK_Passenger_Account] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Account])
GO
ALTER TABLE [dbo].[Passenger] CHECK CONSTRAINT [FK_Passenger_Account]
GO
ALTER TABLE [dbo].[Passenger_Care]  WITH CHECK ADD  CONSTRAINT [FK_Passenger_Care_Staff] FOREIGN KEY([Staff_CMND])
REFERENCES [dbo].[Staff] ([Staff_CMND])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Passenger_Care] CHECK CONSTRAINT [FK_Passenger_Care_Staff]
GO
ALTER TABLE [dbo].[ScheduleOfGara]  WITH CHECK ADD  CONSTRAINT [FK_ScheduelOfGara_Gara] FOREIGN KEY([Gara_Name])
REFERENCES [dbo].[Gara] ([Gara_Name])
GO
ALTER TABLE [dbo].[ScheduleOfGara] CHECK CONSTRAINT [FK_ScheduelOfGara_Gara]
GO
ALTER TABLE [dbo].[ScheduleOfGara]  WITH CHECK ADD  CONSTRAINT [FK_ScheduelOfGara_TotalScheduels1] FOREIGN KEY([Schedule_no])
REFERENCES [dbo].[TotalScheduels] ([SChedule_no])
GO
ALTER TABLE [dbo].[ScheduleOfGara] CHECK CONSTRAINT [FK_ScheduelOfGara_TotalScheduels1]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Account] FOREIGN KEY([Staff_Account])
REFERENCES [dbo].[Account] ([Account])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Account]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Passenger] FOREIGN KEY([Passenger_SDT])
REFERENCES [dbo].[Passenger] ([Passenger_SDT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Passenger]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Staff] FOREIGN KEY([Staff_CMND])
REFERENCES [dbo].[Staff] ([Staff_CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Staff]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Trip] FOREIGN KEY([Trip_No])
REFERENCES [dbo].[Trip] ([Trip_No])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Trip]
GO
ALTER TABLE [dbo].[TotalScheduels]  WITH CHECK ADD  CONSTRAINT [FK_TotalScheduels_Station] FOREIGN KEY([BeginStation])
REFERENCES [dbo].[Station] ([station_No])
GO
ALTER TABLE [dbo].[TotalScheduels] CHECK CONSTRAINT [FK_TotalScheduels_Station]
GO
ALTER TABLE [dbo].[TotalScheduels]  WITH CHECK ADD  CONSTRAINT [FK_TotalScheduels_Station1] FOREIGN KEY([EndStation])
REFERENCES [dbo].[Station] ([station_No])
GO
ALTER TABLE [dbo].[TotalScheduels] CHECK CONSTRAINT [FK_TotalScheduels_Station1]
GO
ALTER TABLE [dbo].[Trip]  WITH CHECK ADD  CONSTRAINT [FK_Trip_ScheduelOfGara] FOREIGN KEY([TripOfGara_no])
REFERENCES [dbo].[ScheduleOfGara] ([TripOfGara_no])
GO
ALTER TABLE [dbo].[Trip] CHECK CONSTRAINT [FK_Trip_ScheduelOfGara]
GO
ALTER TABLE [dbo].[ManageReview]  WITH CHECK ADD  CONSTRAINT [CK_ManageReview] CHECK  (([Staff_Attitude]>=(1) AND [Staff_Attitude]<=(3)))
GO
ALTER TABLE [dbo].[ManageReview] CHECK CONSTRAINT [CK_ManageReview]
GO
/****** Object:  StoredProcedure [dbo].[SP_LOAD_TABLE]    Script Date: 6/18/2021 12:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOAD_TABLE]
AS
BEGIN
SELECT SOG.Gara_Name, 
BEGN=(SELECT S.station_Name FROM  Station S
WHERE TS.BeginStation = S.station_No), 
ED=(SELECT S.station_Name FROM Station S
WHERE TS.EndStation = S.station_No), 
SOG.DayInWeek, SOG.DepartTime, 
SOG.TicketPrice 
FROM ScheduleOfGara SOG, TotalScheduels TS
WHERE SOG.Schedule_no = TS.SChedule_no
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ManageReview', @level2type=N'CONSTRAINT',@level2name=N'CK_ManageReview'
GO
USE [master]
GO
